<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>w8 — Site Editor</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/editor.css">
    <link rel="stylesheet" href="css/files.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <script src="js/files.js" defer></script>
    <script src="js/main.js"></script>
    <script src="js/editor.js"></script>
    <script src="js/codemirror/cm6.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.15.4/beautify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.15.4/beautify-css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.15.4/beautify-html.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0"></script>
</head>

<body>
    <div style="height: 50px;height: 50px;display: flex;align-items: center;margin-left: 10px;">
        <span style="font-size: large;margin-right: 10px;"><a href="/">w8</a> | Create Your Site</span>
        <input id="site-name" placeholder="Your site name..." value="" style="font-size: large"
            pattern="[a-zA-Z0-9_\-]*" oninput="this.value = this.value.replace(/[^a-zA-Z0-9_\-]/g, '');settings.unsavedChanges = true;" maxlength="40">
        <img src="/app/images/settings2.svg" onclick="openSettings()" id="settingsButton">
        {{!-- <a href="/app/delete" class="deleteButton" title="Delete this site">Delete Site</a> --}}
        <a href="/app/view" class="viewButton" title="View this site in a new tab">View Site</a>
        <a href="/app/deploy" class="deployButton" title="Deploy/save site">
            <span class="loader" id="deploy-loader" style="display: none;"></span>
            <span id="deploy-text">Save Changes</span>
        </a>
    </div>

    <div id="wrapper">
        <div id="files">
            <button id="newFile" onclick="newFile()" title="Create New File">+ New File</button>
            <div id="hierarchy"></div>
        </div>
        <div class="slider2" style="position: absolute;left: calc(20% - 3px);height: calc(100vh - 50px);z-index: 9999;">
            S<br>l<br>i<br>d<br>e<br>r</div>
        <div id="editor">
            <div id="editor-manage">
                <div id="editor-manage-container">
                    <input id="current-file" readonly>
                    <button id="delete-file" title="Delete this file">Delete</button>
                    <button id="prettify-file" title="Prettify this file">Prettify</button>
                    <button id="rename-file" title="Rename this file">Rename</button>
                </div>
            </div>
            <div id="editor-code"></div>
        </div>
        <div class="slider" style="position: absolute;left: calc(65% - 3px);height: calc(100vh - 50px);">
            S<br>l<br>i<br>d<br>e<br>r</div>
        <div id="preview-manage">
            <div id="preview-manage-container">
                <button id="logs-button" title="View console logs" onclick="viewLogs()">View Console Logs</button>
            </div>
            <div id="preview-container">
            <iframe id="preview"></iframe>
            </div>
        </div>
    </div>

    <script>
        const initialState = cm6.createEditorState()
        const view = cm6.createEditorView(initialState, document.getElementById("editor-code"));
    </script>
</body>

</html>