<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>w8 Hosting</title>
</head>
<body>
    <h2>Welcome to w8, where you can host your static sites for free!</h2>
</body>
</html>